*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
    background: #cbbbcf
}

header{
    display:flex;
    flex-direction: column;
    min-height:30vh;
    justify-content:center;
    align-items:center;
}

header h2{
    padding:2rem;
    font-family: 'Pacifico', cursive;
    font-size:35px;
}

#logo{
    padding:2rem;
    text-decoration:none;
    color:black;
}

.search-form{
    padding:2rem;
    display:flex;
    fon

}

.search-form input{
font-size:2rem;
padding:0.5rem;
width:100%;
border:none;
border:2px solid rgb(57, 57, 165);
}

.search-form button{
    border:none;
    padding:0.5rem;
    font-size:1rem;
    background:rgb(57, 57, 165);
    color:white;
    cursor:pointer;


}
.gallery-info{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    color:grey;
    padding:1rem 0rem;

} 



.gallery-img a{
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgba(140, 0, 255, 0.7);
    font-family: 'Permanent Marker', cursive;
    font-size:20px;
}


.gallery-img p{
    font-family: 'Nanum Brush Script';
    font-size:35px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 2rem 0rem;
    width: 80%;
    margin: auto;
    row-gap: 5rem;
    column-gap: 3rem;
  }

.nav-button{
    min-height: 30vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.more{
    padding:1rem 3rem;
    background:rgb(183, 0, 255);
    color:white;
    border:none;
    font-size:1.2rem;
}
.submit-btn{
    font-family: 'Yellowtail', cursive;
}


.gallery-info img:hover{
   cursor:pointer;
   transform:scale(1.5);
}